<html>
    <head>
        <title>Welcome</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1>Welcome</h1>
        <p>Choose a flaw to inspect</p>
        <ul>
            <li><a href="/1" >Injection</a></li>
            <li><a href="/2" >Broken Authentication</a></li>
            <li><a href="/3" >Broken Access Control</a></li>
            <li><a href="/4" >Cross-Site Scripting</a></li>
            <li><a href="/5" >Insufficient Logging and Monitoring</a></li>
        </ul>

    </body>
</html>
