<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>SignUp</title>
    </head>
    <body>
<a href="/" >Home</a>
        <h1>Create user</h1>

        <form action="#" th:action="@{/login}" method="POST">
            <p><label for="name">Username</label>: <input type="text" name="name"/></p>
            <p><label for="address">Password</label>: <input type="password" name="pass1"/></p>
            <p><label for="address">Password again</label>: <input type="password" name="pass2"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>

    </body>
</html>
