<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>XSS</title>
    </head>
    <body>
        <a href="/" >Home</a>
        <h1>Insert comment</h1>
        
        <form th:action="@{/xss}" method="POST">
            <input type="text" name="comment"/>
            <input type="submit"/>
        </form>
        
        <ul>
            <li th:each="item: ${list}">
                <a th:utext="${item}"/>
            </li>
        </ul>
        
    </body>
</html>
